<h2 class="h3">Full Time</h2>
<a href="http://www.signomatic.eu/">
  <%= image_tag "signomatic.png" %>
</a>
<h2 class="h3">Side Projects</h2>
<a href="https://github.com/krisrang/junction">
  <%= image_tag "junction.png" %>
</a>
<a href="https://github.com/krisrang/krisbb">
  <%= image_tag "krisbb.png" %>
</a>
<h2 class="h3">Old Projects</h2>
<a href="https://github.com/krisrang/youdown">
  <%= image_tag "youdown.png" %>
</a>
<a href="https://github.com/krisrang/whisker">
  <%= image_tag "whisker.png" %>
</a>
