<article id="<%= post.id %>">
  <hgroup>
    <h2><%= link_to "#{post.artist} - #{post.track_name}", post_path(post.id) %></h2>
    <h3><a href="#<%= post.id %>"><%= format_tumblr_date post.date %></a></h3>
  </hgroup>
  <%= raw post.player %>
  <% if post.caption %>
  <p><%= raw post.caption %></p>
  <% end %>
  <%= render 'post_bottom', post: post %>
</article>
