<% @title = title_from_slug(post, "Video") %>

<article id="<%= post.id %>">
  <hgroup>
    <h2><%= link_to "Video", post_slug(post) %></h2>
    <h3><a href="#<%= post.id %>"><%= format_tumblr_date post.date %></a></h3>
  </hgroup>
  <p>
    <%= raw post.player[2]["embed_code"] %>
  </p>
  <% if post.caption %>
    <%= raw post.caption %>
  <% end %>
  <%= render 'post_bottom', post: post %>
</article>
