<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="<%= Settings.site.description %>" />
  <meta name="keywords" content="<%= Settings.site.keywords %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="openid.server" href="http://www.myopenid.com/server" />
  <link rel="openid.delegate" href="http://dvsbstd.myopenid.com/" />
  <link rel="openid2.provider" href="http://www.myopenid.com/server" />
  <link rel="openid2.local_id" href="http://dvsbstd.myopenid.com/" />
  <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=dvsbstd.myopenid.com" />
  <title><%= Settings.site.title %></title>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <% if Settings.site.rss_enabled %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= Settings.tumblr.rss %>" />
  <% end %>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", async: true %>
</head>
  <body>
  <header class="main-header">
    <hgroup>
      <div class="picture">
        <a href="/" rel="home"></a>
      </div>
      <h1>Kristjan Rang</h1>
      <h2>Developer. Gamer.</h2>
    </hgroup>
    <nav>
      <ul class="main-nav">
        <li class="<%= current_nav(root_path) %>">
          <a href="/" id="home-link">Blog</a>
        </li>
        <li class="<%= current_nav(projects_path) %>">
          <%= link_to "Projects", projects_path, id: "projects-link" %>
        </li>
        <li><a href="http://github.com/krisrang" id="github-link">Github</a></li>
        <li><a href="http://lastfm.com/user/noin" id="lastfm-link">Last.fm</a></li>
        <li><a href="http://twitter.com/#!/kristjanrang" id="twitter-link">Twitter</a></li>
        <li><a href="http://instagr.am/p/Lau1VrEPbt" id="instagram-link">Instagram</a></li>
        <li><a href="https://foursquare.com/user/8786308" id="foursquare-link">Foursquare</a></li>
        <li><a href="mailto:mail@kristjanrang.eu?subject=Hello" id="contact-link">Contact</a></li>
      </ul>
    </nav>
    <div class="fork-me">
      <a href="https://github.com/krisrang/junction">Junction</a>, largely based on <a href="https://github.com/rigoneri/syte">Syte</a>
    </div>
  </header>

  <div class="mobile-nav">
    <span class="nav-btn" id="mobile-nav-btn">
      <span class="nav-btn-bar"></span>
      <span class="nav-btn-bar"></span>
      <span class="nav-btn-bar"></span>
    </span>
    <h3><a href="/">www.kristjanrang.eu</a></h3>
  </div>

  <%= yield %>
  
  <script async>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= ENV['GAID'] %>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>

